.input-container{
  display: flex;
  flex-direction: column;
  .input-label{
    font-size: 1.7rem;
    margin: 15px 0;
  }
  .input-input{
    height: 30px;
    padding: 10px;
    font-size: 1.7rem;
    border-radius: 10px;
    border: 1px solid grey;
  }
}
